<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.newpost"
    android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
    tools:replace="android:appComponentFactory">

    <!--摄像头使用权限-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />
    <!--文件存储使用权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--网络访问权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application

        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--            android:name=".CeshiActivity"-->

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!--        android:name=".MainActivity"-->

        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--        商户管理-->
        <activity android:name=".home_fragment.home_merchants.MerchantsActivity" />
        <!--        新增选择页商户-->
        <activity android:name=".home_fragment.home_merchants.newmerchants.NewMerchantsActivity" />

        <!--        我的-&#45;&#45;修改密码-->
        <activity android:name=".me_fragment.MeChangePassWordActivity" />
        <!--        我的  个人信息-->
        <activity android:name=".me_fragment.MePersonalActivity" />
        <!--        我的  意见反馈-->
        <activity android:name=".me_fragment.MeFeedBackActivity" />
        <!--        我的  关于我们-->
        <activity android:name=".me_fragment.MeAboutUsActivity" />
        <!--        我的  余额-->
        <activity android:name=".me_fragment.MeBalanceActivity" />
        <!--        首页   终端管理-->
        <activity android:name=".home_fragment.home_terminal.TerminalManagementActivity" />
        <!--        首页   收益管理-->
        <activity android:name=".home_fragment.home_earnings.EarningsManagementActivity" />
        <!--        商户查询-->
        <activity android:name=".home_fragment.home_terminal.merchantsquery.MerchantsQuery" />
        <!--        首页排行榜-->
        <activity android:name=".home_fragment.home_list.EarningsRankingActivity" />
        <!--        注册-->
        <activity android:name=".useractivity.RegisterActivity" />
        <!--        登录-->
        <activity android:name=".useractivity.LoginActivity" />
        <!--        合作方拓展扫码-->
        <activity android:name=".cooper_fragment.CooperExpandScanActivity" />
        <!--        合作方拓展-->
        <activity android:name=".cooper_fragment.CooperExpandActivity" />
        <!--        找回密码-->
        <activity android:name=".useractivity.RetrievePassActivity" />
        <!--        消息列表-->
        <activity android:name=".home_fragment.home_message.MessageActivity" />
        <!--        我的银行卡-->
        <activity android:name=".me_fragment.MeBankCradActivity" />
        <!--        我的银行卡修改-->
        <activity android:name=".me_fragment.MeBankCradModifyActivity" />
        <!--        余额体现-->
        <activity android:name=".me_fragment.MeBalanceWitndActivity" />
        <!-- 提交成功界面-->
        <activity android:name=".home_fragment.home_merchants.newmerchants.state.MerchantsDetailSubActivity" />
        <!--        新增小微商户1-->
        <activity android:name=".home_fragment.home_merchants.newmerchants.MerchantsDetailActivity11" />
        <!--        新增小微商户2-->
        <activity android:name=".home_fragment.home_merchants.newmerchants.MerchantsDetailActivity22" />
        <!--        新增企业商户1-->
        <activity android:name=".home_fragment.home_merchants.newmerchants.MerchantsBigDetailActivity11" />
        <!--        新增企业商户2-->
        <activity android:name=".home_fragment.home_merchants.newmerchants.MerchantsBigDetailActivity22" />
        <!--        新增企业商户3-->
        <activity android:name=".home_fragment.home_merchants.newmerchants.MerchantsBigDetailActivity33" />
        <!--        终端划拨选择下级-->
        <activity android:name=".home_fragment.home_terminal.merchantstransfer.MerchantsTransferPersonActivity" />
        <!--        终端划拨-->
        <activity android:name=".home_fragment.home_terminal.merchantstransfer.MerchantsTransferActivity" />
        <!-- 提交驳回界面-->
        <activity android:name=".home_fragment.home_merchants.newmerchants.state.MerchantsDetailFailureActivity" />
        <!--        实战讲堂-->
        <activity android:name=".home_fragment.home_lecture_hall.LecturehallActivity" />
        <!--        我的团队-->
        <activity android:name=".home_fragment.home_team.HomeTeamActivity" />
        <!--        终端回调-->
        <activity android:name=".home_fragment.home_terminal.merchantscallback.MerchantsCallbackActivity" />
        <!--        实战讲堂详情-->
        <activity android:name=".home_fragment.home_lecture_hall.LecturehallDetailsActivity" />
        <!--        消息详情-->
        <activity android:name=".home_fragment.home_message.MessageDetelisActivity" />
        <!--        划拨成功-->
        <activity android:name=".home_fragment.home_terminal.merchantstransfer.MerchatsTransferSuccesActivity" />
        <!--        收支明细-->
        <activity android:name=".me_fragment.MePaymentActivity" />
    </application>

</manifest>